.cart-detail{
  width: 70%;
  display: flex;
  flex-direction: column;
  
}
.cart-top{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cart-bottom{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.cart-qty span{
 
  cursor: pointer;
}
.minus{
  border: 1px solid gray;
   padding: 6px 12px;
  color: #f02d34;
  font-size: 9px;
}
.num{
  
   padding: 4px 12px;
   font-size: 12px;
   font-weight: 500;
  
}
.plus{
  border: 1px solid gray;
  color: rgb(49, 168, 49);
   padding: 6px 12px;
   font-size: 9px;

}
.cart-qty{
  display: flex;
  align-items: center;
  justify-items: flex-start;
}
.cart-img{
  background-color: #d3d2d2;
  width: 90px;
  height: 90px;
  margin-right: 20px;
  border-radius: 15px;
}
.cart-container{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  
}
.cart-cards{
  margin: auto;
  width: 70%; 
  padding: 40px 50px;
  background-color: #ffffff;
  margin-top: 2rem;
  border-radius: 15px;
    /* box-shadow: 4px 1px 14px -1px rgba(0,0,0,0.08);
  -webkit-box-shadow: 4px 1px 14px -1px rgba(0,0,0,0.08);
  -moz-box-shadow: 4px 1px 14px -1px rgba(0,0,0,0.08); */
}
.cart-info{
  height: 180px;
  width: 30%;
  padding: 10px;
  
  box-shadow: 4px 1px 14px -1px rgba(0,0,0,0.08);
-webkit-box-shadow: 4px 1px 14px -1px rgba(0,0,0,0.08);
-moz-box-shadow: 4px 1px 14px -1px rgba(0,0,0,0.08);
}
.btn-qty{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #D3D2D2;
  color: black;
  font-weight: 500;
  transition: all .2s ease-in-out;
}
.btn-qty:hover{
  background-color: black;
  color: white;
}

@media (max-width: 480px) {
    .cart-cards{
        width: 100%;
        padding: 20px 10px;
    }
    .bottom{
        width: 100%;
        flex-direction: column-reverse;
    }
    .checkout-btn{
      font-size: .8rem;
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .subtotal{
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    .shopping{
      width: 100%;
      justify-content: center;
      margin-top: .5rem;
      font-size: 1rem;
    }
    .cart-img{
      background-color: #d3d2d2;
      width: 70px;
      height: 70px;
      margin-right: 20px;
      border-radius: 15px;
    }
    .cart-price{
      font-size: .9rem;
    }
    .cart-name{
      font-size: .9rem;
      line-height: 17px;
    }
    .btn-qty{
      font-size: .87rem;
      font-weight: 400;
      width: 28px;
      height: 28px;
    }
    .trash{
      font-size: 1.2rem;
    }
    .cart-empty{
      width: 90%;
      text-align: center;
    }
  
}